body {
    font-family: "Helvetica Neue",sans-serif;
    display: block;
    margin: 0px;
}

.header {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;    
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: #FFFFFF;
    text-shadow:0px 3px 0px #3d768a;
}

.img-container {
    max-width: 90vw;
    height: 50vh;
    margin-left: 5vw;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
}

.img {
    width: 80%;
    height: 100%;
    margin: 20px;
    object-fit: contain;
}

.matrix-input-box {
    width: 50%;
    border: 2px solid transparent;
    padding: 4px 4px;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    box-sizing: border-box;
}

.matrix-container { 
    margin: 14px 120px 14px 120px;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 8px;
    justify-items: center;
}

.panel-container {
    max-width: 90vw;
    margin-left: 5vw;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
}

.btn {
    margin: 10px;
    width: 100px;
    box-shadow: 3px 4px 0px 0px #899598;
	background-color: #ededed;
	border-radius: 15px;
	background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	cursor: pointer;
	color: #3a8a9e;
	font-family: Arial;
    font-size: 18px;
    text-align: center;
    text-shadow: 0px 1px 0px #e1e2ed;
    padding: 7px 25px;
}
.btn:hover {
    background-color: #bab1ba;
	background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
}
.btn:active {
    top: 1px;
	position: relative;
}

#img-input {
    display: none;
}
.grid-1{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    justify-items: center;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
    grid-gap: 14px;
}

#lbl{
    display: table;
}